.container{
    display: flex;
    min-height: 100vh;
}
.profile-container{
    margin:var(--space-md) auto;
    max-width: var( --max-width-7xl);
    width: 100%;
}
.profile-section{
    margin:0 var(--space-md);
    max-width: var( --max-width-5xl);
}
.profile-header{
    display:flex;
    gap:10px;
    align-items: stretch;
    height: var(--avatar-lg);
}
.profile-pic{
    border:var(--border-solid);
    aspect-ratio: 1;
    height:100%;
    object-fit: cover;
    border-radius: var(--border-radius-xl); 
    }
.profile-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.profile-header-top{
    display: flex;
    flex-direction: column;
    flex-grow: 1; /*line urt bolgono */
}
.full-name{
    flex:1;
    font-weight: bolder;
}
.username{
    flex-basis: 100%;
    font-weight: lighter;
    font-size: 0.7rem;
    color:var(--username-color);
}
.rate{
    display: flex;
    align-items: center;
    gap:var(--space-sm);
    margin-top: var(--space-sm);
    border-top:var(--border-solid);
    height: 100%;
}
.post-likes{
   padding: 0 var(--space-md);
   border-left: var(--border-solid);
}
.bio-follow-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-lg);
    align-items: center;
    margin-top: var(--space-md);
}
.bio{
    margin-top: var(--space-md);
    border-bottom: 1px solid var(--border-color);
}
.follow-container{
    display: flex;
    gap: var(--space-md);
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
  .tab-titles {
    display: flex;
    justify-content: flex-start;
    list-style: none;
  }
  
  .tab-title {
    flex: 1;
    text-align: center;
    padding: var(--space-md) 0;
    cursor: pointer;
  }
  .tab-title.active{
    border-bottom: var(--border-solid);
  }
  .tab-title:hover {
    border-bottom: var(--border-solid);
  }
  .post{
    margin:var(--space-md) var(--space-lg);
    border-top:var(--border-solid);
    justify-content: center;
}
/* Three dots dropdown */
.three-dots-wrapper {
  position: relative;
  display: inline-block;
}

.three-dots-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  background-color: var(--dropdown-color);
  border: 1px solid var(--border-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-sm);
  min-width: 150px;
  z-index: 100;
  transition: var(--transition)
}

.dropdown-item {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
  color: var(----color-text);
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: var(--line-height);
  transition: var(--transition);
  border-bottom: var(--border-solid);
}
.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background: var(--hover-color);
  color: var(----color-text);
}


@media (max-width:768px) {
    .container{
        display: block;
    }
}
